- name: Upload HTML, CSVs & Debug (for archive or when email disabled)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: last_report
          path: |
            last_report.html
            report.csv
            scanned.csv
            sent_report.eml
            .debug/**
          if-no-files-found: ignore
